
@scope(.panel-left) {
	gap: var(--margin-2);
	width: 300px;

	table {
		width: 100%;

		td {
			text-align: center;
			font-family: var(--monospace-font);
		}
	}

	@scope (.gbc) {
		>*:last-child {
			margin-top: auto;
		}
	}

	.game-time {
		contain: paint;
	}

	.player-party {
		border: 2px solid var(--color-border-0);
		padding: var(--margin-0)
	}

	.party-mon-body {
		display: flex;
		flex-direction: column;
		width: 100%;
		margin-top: var(--margin-1);
		&>div:not(.bar-graph){
			display: flex;
		}
		.party-mon-header {
			display: flex;
			flex-direction: row;
			gap: var(--margin-0);
			.bar-graph {
				width: 100%;
			}
		}
		.party-stat-block {
			display: flex;
			flex-direction: row;
			width: 100%;
			justify-content: space-between;
			.box {
				text-align: right;
				&>div {

					min-width: 5ch;
				}
			}
		}
	}
}