.video-container {
	border: 2px solid var(--color-border-1);
	overflow: hidden;
	aspect-ratio: var(--aspect-ratio);
	max-height: 100%;
	margin: auto;
	contain: paint;
	text-align: center;
	button {
		margin-top: var(--margin-2);
	}
	video {
		aspect-ratio: var(--aspect-ratio);
		object-position: bottom;
		object-fit: cover;
		image-rendering: pixelated;
	} 

	#end-capture {
		visibility: hidden;
		position: absolute;
		right: var(--margin-2);
	}
	&:hover #end-capture {
		visibility: visible;
	}
}

@scope (.nds) { 
	.video-container {
		video {
			aspect-ratio: 2 / 3;
			height: revert-layer;
		}
	}
	:scope.bottom {
		video {
			transform: translate(0, -50%);
		}
	}
}
