@scope(.panel-right) {
	:scope {
		display: flex;
		flex-direction: row;
		width: 335px;
	}

	.move-pool {
		width: 100%;
		height: 100%;
		border: 2px solid var(--button-border-default);
		overflow: hidden;
		scrollbar-gutter: stable;
		scrollbar-width: thin;
		scrollbar-gutter: 1px;
		&:hover {
			overflow: scroll;
			scrollbar-width: thin;
		}

		.unavailable {
			opacity: 0.5;
		}
	}

	table {
		display: table;
		width: 100%;
		height: fit-content;
		border: none;
		tr:not(:first-of-type) {
			border-top: 1px solid var(--button-border-default);
		}
		td,
		th {
			padding: 4px 4px;
			font-size: smaller;

			&:nth-child(1) {
				text-align: right;
			}

			&:nth-child(2) {
				width: 100%;
				text-align: left;
			}

			&:nth-child(3) {
				text-align: center;
			}

			&:nth-child(4),
			&:nth-child(5) {
				text-align: right;
			}
		}

		td {
			&:nth-child(3),
			&:nth-child(4),
			&:nth-child(5),
			&:nth-child(1) {
				font-size: smaller;
			}
		}

		td {
			text-align: center;
			font-family: var(--monospace-font);
		}
	}	

	.tab-bar {
		flex-direction: column !important;
	}

	.tab-sideways {
		padding: 12px 6px !important;
		margin-top:  0 !important;
		margin-bottom:  var(--margin-0) !important;
		font-size: var(--font-size-0) !important;
		text-orientation: sideways;writing-mode: sideways-lr;text-orientation: sideways;
		border-bottom: 2px solid var(--button-border-default) !important;
		border-right: 0 !important;
		align-self: end;
		
		&.active {
			color: var(--color-blue);
		}
	}

	.opponent {
		width: 100%;
		h2 {
			margin-top: 0;
			margin-bottom: var(--margin-0);
			font-family: var(--monospace-font);
			font-size: var(--font-size-0);
		}
	}

	.opponent-mon {
		border: 2px solid var(--button-border-default);
		width: 100%;
		height: fit-content;
		display: flex;
		flex-direction: column;
		padding: var(--margin-0);
		margin-bottom: var(--margin-1);
		&.defeated {
			opacity: 0.6;
		}
		&.current {
			border-color: var(--color-blue);
		}
	}
	.opponent-mon-body {
		display: flex;
		flex-direction: row;
		gap: 0 var(--margin-0);
	}
	.bar-graph {
		text-align: center;
	}

	.opponent-moves {
		flex-grow: 1;
		div {
			font-size: small;
			width: 100%;
			padding: 0;
			display: flex;
			flex-direction: row;
		}

		.name{
			min-width: 12ch;
			margin-right: auto;
		}
		.accuracy{
			margin-left: var(--margin-0);
			min-width: 5ch;
			margin-right: var(--margin-0);
			vertical-align: middle;
			text-align: end;
		}
		.power{
			min-width: 4ch;
			vertical-align: middle;
			text-align: end;
		}
	}

	.opponent-stat-block {
		display: grid;
		gap: 0 var(--margin-0);
		grid-template-rows: repeat(3, 1fr);
		grid-template-columns: repeat(2, 1fr);
		.box {
			display: flex;
			justify-content: end;
			text-align: end;
			padding: 2px;
			font-size: smaller !important;
		}

		.box span:first-child {
			margin-right: auto;
			text-align: start;
			min-width: 3ch;
		}
		.box span:last-child {
			min-width: 4ch;
		}
	}
}